

body {
    
    font-family: 'Style Script', cursive;
    background-color: cyan;
    }
#test{
    height:300px;
    width:300px;
}

.text_images_and_result {
    background-color:lightgrey;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
    border-radius:20px;
    box-shadow:5px 5px 18px black;
    width:800px;

    }

.final_result{

   
    margin-left: 900px;
  background-color:lightgrey;
    padding: 2px;
    margin-top: 15px;
    border: 1px solid white;
    border-radius:20px;
    box-shadow:5px 5px 18px black;
    width:500px;


}


#footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
    position:fixed;bottom:0;left:0;right:0;height:30px;
    text-align: center;
    text-shadow: 5px 5px 7px black;
  }

  #footer:hover {
    background-image: linear-gradient(to right top, #67D4FE, #6012CD, #85F0C4, #5DDB9F);
    animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
    
    }


@keyframes example {
    0% {
        box-shadow: 1px 1px 150px red;
    }
  
    12.5% {
        box-shadow: 1px 1px 150px orange;
    }
  
    25% {
        box-shadow: 1px 1px 50px yellow;
    }
  
    37.5% {
        box-shadow: 1px 1px 150px rgb(0, 255, 0);
    }
  
    50% {
        box-shadow: 1px 1px 50px rgb(0, 255, 255);
    }
  
    62.5% {
        box-shadow: 1px 1px 150px blue;
    }
  
    75% {
        box-shadow: 1px 1px 150px purple;
    }
  
    87.5% {
        box-shadow: 1px 1px 50px rgb(255, 0, 255);
    }
  
    100% {
        box-shadow: 1px 1px 50px red;
    }
  }

  .output {
    border-radius:20px;
    background-color:white;
    color:magenta;
    padding:3px;
    box-shadow:3px 3px 5px black;
  }

  .accurate{

    animation-name: tex;
    animation-duration: 15s;
    animation-iteration-count: infinite;

  }


.accurate{

text-shadow:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:25px;
  
    animation-name:wave;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-family: "Righteous", cursive;
    -webkit-text-stroke-width: 2px;
  background-image:linear-gradient(powderblue 25%, aqua 50%, lightgreen 75%,yellow 100%);
    margin-left: 10;
    border-radius: 90px;
    color:navy;
  }
  
  @for $i from 1 through 4 {
    .hello:nth-of-type(#{$i}) {
      animation-duration: 2s;
      animation-delay: 0.8s - ($i / 4);
    }
  }
   /* Channge the translate value to move it up,down,left,right*/
  @keyframes wave {
    40%,
    50% {
      transform: translate(-30%, -65%) scale(1.05);
    }
  
    0%,
    90%,
    100% {
      transform: translate(-20%, -45%) scale(0.95);
    }
  }
  

  .final_result{

    color:mediumseagreen;
    background-color: oldlace;
    font-size: 15px;
  }